@import "variables";

:global {

  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  #root {
    width: 1200px;
    background: #fff;
    margin: 0 auto;
    min-height: 100%;
  }

  #app {
    min-height: 100%;
  }

  #content {
    padding: 1rem;
  }

  .page {
    padding: 20px;
    background: #fff;
  }

  button {
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 16px;
  }

  input {
    font-size: 22px;
    padding: 2px;
  }

  nav {
    display: flex;

    a {
      margin: 0 10px 0 0;
      border: 1px solid #ccc;
      padding: 0.5rem 1rem;
    }
  }
}
