.local-test {
  background: #f0f;
  font-size: 20px;
}

:global .global-test {
  background: #0f0;
}

:global {

  html,
  body {
    font-size: 16px;
  }

  .border {
    border: 1px solid #f00;
  }

  .page {
    padding: 20px;
    background: #eee;
  }

  button {
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 16px;
  }

  input {
    font-size: 22px;
    padding: 2px;
  }
}
